@model Polly.Models.Poll

@{
    ViewBag.Title = "Polly - " + Model.Title ;
}
@Html.AntiForgeryToken()
<h2 data-poll="@Model.Id">@Html.DisplayFor(model => model.Title)</h2>
<h3>Created by - @Model.Creator</h3>
<div>
    <hr />

            <h3>@Html.DisplayFor(model => model.Question)</h3>

    <div class="votes">
        @Html.Partial("_AnswerPartial", Model.PollAnswers)
    </div>
</div>

<div id="chart_div"></div>


<p>
    <div>
        @if (ViewBag.Owner)
        {
            @Html.ActionLink("Delete Poll", "Delete", new { id = Model.Id }) 
        }
    </div>
    

    @Html.ActionLink("Back to List", "Index")
</p>
